a,
#home-slider .caption h1 span, 
#twitter-carousel .item span, 
#footer .footer-bottom, 
#single-portfolio .close-folio-item:hover, 
.single-table.featured .btn.btn-primary, 
.contact-info ul li a:hover, 
#footer .footer-bottom a  {
  color: #00B03A;
}

.btn.btn-primary:hover,
.btn-submit:hover {
  background-color: #049835;
}

a:hover, a:focus {
	color: #049835;
}

.main-nav {
	background-color: rgba(255,255,255,1);
	-webkit-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.25);
	-moz-box-shadow:    0px 2px 5px 0px rgba(50, 50, 50, 0.25);
		box-shadow:     0px 2px 5px 0px rgba(50, 50, 50, 0.25);
}
#footer {
	background-color: #fff;
} 
.service-icon, 
.progress-bar.progress-bar-primary, 
.single-table.featured, 
.btn.btn-primary, 
.twitter-icon .fa-twitter, 
.twitter-left-control:hover, .twitter-right-control:hover, 
.post-icon, 
.entry-header .date:after, 
.btn-loadmore:hover, 
.btn-submit,
.caption .btn-start:hover, 
.left-control:hover, 
.right-control:hover, 
.folio-overview a:hover {
  background-color:#00B03A;
}

.twitter-left-control:hover, 
.twitter-right-control:hover, 
.btn-loadmore:hover  {
	border: 1px solid #00B03A;
}

.caption .btn-start:hover, 
.left-control:hover, 
.right-control:hover {
	border-color: #00B03A;
}

.twitter-icon .fa-twitter:after {
	border-color: #00B03A transparent transparent;
}